.capture-hover-effect {
    background:
        linear-gradient(currentColor 0 0) 0 0,
        linear-gradient(currentColor 0 0) 0 0,
        linear-gradient(currentColor 0 0) 0 100%,
        linear-gradient(currentColor 0 0) 0 100%,
        linear-gradient(currentColor 0 0) 100% 0,
        linear-gradient(currentColor 0 0) 100% 0,
        linear-gradient(currentColor 0 0) 100% 100%,
        linear-gradient(currentColor 0 0) 100% 100%;
    background-size: var(--d, 0) 3px, 3px var(--d, 0);
    background-repeat: no-repeat;
    transition: 0.5s;
}
.capture-hover-effect:hover {
    --d: 20px;
}